  <header>
    <div class="navigationBatton" (click)="openNavPanel();">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h1 class="logo" (click)="homePage();">ShakerWiki</h1>
  </header>


  <nav [ngClass]="{nav: visibility}">
      <div class="searechCocteil">

        <input class="searechCocteilInput" [ngModel]="cocteil.name_of_cocteil" #cocteilName="ngModel" required pattern="[а-яА-Я-0-9 -]{3,25}"
               placeholder="Название коктейля"/>

          <button class="searechCocteilBatton" [disabled]="cocteilName.invalid" (click)="searchCocteil(cocteilName.value);" (click)="openNavPanel();">
            <p class="textForBatton">Найти</p>
          </button>

      </div>

      <div class="leftBatton" routerLink="/dashboard" routerLinkActive="active" (click)="openNavPanel();">
            <p class="textForBatton">Все коктейли</p>
      </div>

      <div class="leftBatton" (click)="popCocteil();" (click)="openNavPanel();" (click)="topPage();">
            <p class="textForBatton">Самый лучший</p>
      </div>

      <div class="leftBatton" *ngIf="addCocteilBatton" class="CocteilBatton" routerLink="/favoriteCocteils" routerLinkActive="active">
          <p class="textForBatton">Любимые</p>
      </div>

      <div class="leftBatton" *ngIf="addCocteilBatton" routerLink="/addCocteil" routerLinkActive="active">
          <p class="textForBatton">Добавить коктейль</p>
      </div>

      <div class="rightBatton" *ngIf="addCocteilBatton" (click)="logOut();">
          <p class="textForBatton">Выход</p>
      </div>

      <div class="rightBatton" *ngIf="registrationBatton" (click)="showDialog = !showDialog" (click)="openNavPanel();">
          <p class="textForBatton">Регистрация/Вход</p>
      </div>
  </nav>

  <router-outlet></router-outlet>


<registration [(visible)]="showDialog">
  <!--<h1>Добро пожаловать!</h1>
  <hr>
  <div id="inputDiv">

    <div id="userNameDiv">
      <textarea class="userRegistrationInput" type="text" placeholder="Имя"
                [ngModel]="user.name" #name="ngModel"
                required pattern="[а-яА-Яa-zA-Z0-9]{3,10}"></textarea>
    </div>

    <div id="userPasswordDiv">
      <textarea class="userRegistrationInput" type="text" placeholder="Пароль"
                [ngModel]="user.password" #password="ngModel"
                required pattern="[а-яА-Яa-zA-Z0-9!-+]{3,10}"></textarea>
    </div>

    <div id="loginDiv">
      <button class="userLoginBatton" [disabled]="name.invalid || password.invalid" (click)="searchUser(name.value, password.value);">
        <p class="textForBatton">Войти</p>
      </button>
    </div>

    <div id="registrationDiv">
      <button class="userRegistrationBatton" [disabled]="name.invalid || password.invalid" (click)="addUser(name.value, password.value);">
        <p class="textForBatton">Регистрация</p>
      </button>
    </div>

    <div class="messageFromShowDialogDiv">
      <p class="textForBatton">{{messageFromShowDialog}}</p>
    </div>

    <div class="messageFromShowDialogDiv" [hidden]="(name.valid && password.valid) || name.untouched && password.untouched">
      <p class="textForBatton">Должны быть заполнены все поля</p>
    </div>

  </div>
-->
</registration>

