  <header>
    <div class="navigationButton" (click)="openNavPanel();">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h1 class="logo" (click)="homePage(); topPage();">ShakerWiki</h1>
  </header>


  <nav [ngClass]="{nav: visibility}">
      <div class="searechCocteil">

        <input [ngModel]="cocteil.name_of_cocteil" #cocteilName="ngModel" required pattern="[а-яА-Я-0-9 -]{3,25}"
               placeholder="Название коктейля"/>

          <button [disabled]="cocteilName.invalid" (click)="searchCocteil(cocteilName.value); openNavPanel();">
            <p class="textForButton">Найти</p>
          </button>

      </div>

      <div class="leftButton" routerLink="/dashboard" routerLinkActive="active" (click)="openNavPanel();">
            <p class="textForButton">Все коктейли</p>
      </div>

      <div class="leftButton" (click)="popCocteil();" (click)="openNavPanel(); topPage();">
            <p class="textForButton">Самый лучший</p>
      </div>

      <div class="leftButton" *ngIf="addCocteilBatton" (click)="openNavPanel();" routerLink="/favoriteCocteils" routerLinkActive="active">
          <p class="textForButton">Любимые</p>
      </div>

      <div class="leftButton addCocteilBatton" *ngIf="addCocteilBatton" routerLink="/addCocteil" routerLinkActive="active">
          <p class="textForButton">Добавить коктейль</p>
      </div>

      <div class="rightButton" *ngIf="addCocteilBatton" (click)="logOut();">
          <p class="textForButton">Выход</p>
      </div>

      <div class="rightButton" *ngIf="registrationBatton" (click)="showDialog = !showDialog" (click)="openNavPanel();">
          <p class="textForButton">Вход</p>
      </div>
  </nav>

  <router-outlet></router-outlet>


  <registration class="reg" [(visible)]="showDialog">

    <h1>Добро пожаловать!</h1>
    <hr>

    <input class="regInput" type="text" placeholder="Имя" [ngModel]="user.name" #name="ngModel"
                  required pattern="[а-яА-Яa-zA-Z0-9]{3,10}"/>
    <input class="regInput" type="text" placeholder="Пароль" [ngModel]="user.password" #password="ngModel"
                  required pattern="[а-яА-Яa-zA-Z0-9!-+]{3,10}"/>

    <button class="logButton" [disabled]="name.invalid || password.invalid" (click)="searchUser(name.value, password.value);">
      <p class="textForButton">Войти</p>
    </button>
    <button class="regButton" [disabled]="name.invalid || password.invalid" (click)="addUser(name.value, password.value);">
      <p class="textForButton">Регистрация</p>
    </button>

    <p class="textForButton">{{messageFromShowDialog}}</p>
    <p class="textForButton" [hidden]="(name.valid && password.valid) || name.untouched && password.untouched">Должны быть заполнены все поля</p>

  </registration>

