<header>
  <h1 class="nameCocteil">{{cocteil?.name_of_cocteil}}</h1>
</header>

<main>

  <figure>

    <div class="like" >
      <p class="textForLike" *ngIf="imageLike" (click)="addLike()"> {{cocteil?.like_of_cocteil}} </p>
      <p class="textForLike" *ngIf="imageLikeAdd"> {{cocteil?.like_of_cocteil}} </p>
    </div>

    <p class="comment">Нравится</p>

    <img *ngIf="cocteil?.name_of_cocteil" src="../../images/{{cocteil?.name_of_cocteil}}.png">

  </figure>

  <div class="preporationOutDiv">
    <div class="preporationDiv">
      <p *ngFor="let cocteil of cocteilIngred" class="textForIngredient"> {{cocteil?.ingredient}} {{cocteil?.volum}} </p>
      <p class="textForCocteil"> {{cocteil?.cockteils_preparation}} </p>
    </div>
  </div>

  <div class="historyOutDiv">
    <div class="historyDiv">
      <p class="textForCocteil">
        {{cocteil?.history_of_cocteil}}
      </p>
    </div>
  </div>

</main>
