#table{
  width: auto;
  height: 100vh;
}

hr {
  margin-bottom: 0.5vh;
}

::-webkit-input-placeholder {
  font-size: 2vh;
  text-align: center;
  vertical-align: middle;
}

.nameDiv{
  width: 20%;
  height: 5%;
  margin-top: 0%;
  text-align: center;
  margin-left: 42%;
  opacity: 0.7;
}

.nameDiv:hover{
  opacity: 1;
}

#infoOfCocteil{
  height: auto;
  width: auto;
  margin-top: 0%;
}

.infoHistoryDiv{
  height: 70vh;
  width: 30%;
  margin-top: 0%;
  margin-left: 68.5%;
  margin-right: 1%;
  background: whitesmoke;
  opacity: 0.7;
  border-radius: 10px;
  padding: 10px;
}

.infoCocteil{
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-color: whitesmoke;
  background: whitesmoke;
  border-radius: 10px;
  resize: none;
  font-family: "Times New Roman";
  font-size: 2.5vh;
  text-align: center;
  float: right;
  line-height: 160%;
}

.addCocteilIngredient{
  margin: 0px;
  width: 100%;
  height: 70%;
  border:2px solid;
  border-color: whitesmoke;
  background: whitesmoke;
  border-radius: 10px;
  resize: none;
  font-family: "Times New Roman";
  font-size: 2.5vh;
  text-align: center;
  float: right;
  outline: none;
  padding: 0;
  line-height: 160%;
  overflow: hidden;
}

.addCocteilIngredient:focus{
  outline: none;
  background: white;
}

.infoCocteil:focus{
  outline: none;
  background: white;
}

.infoHistoryDiv:hover {
  opacity: 1;
}

#imageDiv{
  height: auto;
  width: 38%;
  margin-top: 0%;
  margin-left: 0%;
  float: left;
}

#preporationDiv{
  height: auto;
  height: 70vh;
  width: 29%;
  margin-top: 0%;
  float: left;
  background: whitesmoke;
  opacity: 0.7;
  border-radius: 10px;
  padding: 10px;
}

#divOfPreporation{
  width: auto;
  height: 30%;
}

#preporationDiv:hover{
  opacity: 1;
}

.ingredientInput{
  height: 100%;
  border: 0;
  padding: 0;
  background-color: whitesmoke;
  border-radius: 15px;
  opacity: 0.7;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 2.5vh;
}

.ingredientInput:focus {
  opacity: 1;
  outline: none;
}

#inputFields{
  width: auto;
  height: 15%;
}

.inputFieldIngredient{
  margin-top: 1%;
  margin-left: 4%;
  width: 80%;
  height: 50%;
  float: left;
}

#addIngridient{
  width: 7%;
  height: 100%;
  margin-left: 89%;
  margin-top: 3%;
}

.CocteilBatton:hover{
  background-color: white;
}

#addedIngridient{
  overflow-y: auto;
  width: 100%;
  height: 35%;
}

#tableAddedIngridients{
  width: 100%;
  height: 100%;
}

#ingredientTr{
  width: 100%;
}

#leftTd{
  width: 1%;
}

#regthTd{
  width: 1%
}

#addCocteilBatton{
  width: 100%;
  height: 5%;
  text-align: center;
}

.ng-invalid:focus{
  border-left: 0;
  border-top-color: darkred;
  border-right-color: red;
  border-bottom-color: red;
}

.ng-valid{
  border-left: 0;
  border-color: green;
}

#message {
  height: 3vh;
  width: 100%;
}

#messageText {
  width: auto;
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2.5vh;
  margin: 0;
}

textarea{
  border: 2px;
}
