/* You can add global styles to this file, and also import other style files */
body{
  background: url("images/1.jpg") no-repeat;
  background-size: cover;
  background-color: black;
}

.nameCocteil{
  font-size: 250%;
  color: whitesmoke;
  font-family: Algerian;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0%;
  margin-top: -14px;
}

.textForCocteil{
  color: #000000;
  text-align: justify;
  font-size: 120%;
}

.textForIngredient{
  color: #000000;
  text-align: center;
  font-size: 120%;
}

.textForBatton{
  height: auto;
  width: auto;
  color: #000000;
  text-align: center;
  font-size: 120%;
  margin: 0;
  padding: 1px;
}

.textForLike{
  font-size: 120%;
  padding-top: 20%;
  z-index: 100;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: Algerian;
  color: black;
}

.textForLikeAdd{
  font-size: 120%;
  padding-top: 20%;
  z-index: 100;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: Algerian;
  color: whitesmoke;
}

#wineglass{
  height: 82px;
  float: right;
  margin-right: 3%;
  margin-top: 3%;
}

#triangle {
  width: 40px;
  height: 40px;
  background: whitesmoke;
  display: block;
  border-radius: 7% 7% 50% 50%/60% 60% 40% 40%;
}

#triangleAdd {
  width: 40px;
  height: 40px;
  background: saddlebrown;
  display: block;
  border-radius: 7% 7% 50% 50%/60% 60% 40% 40%;
}

#rectanglVerticale {
  width: 4px;
  height: 8px;
  margin-left: 18px;
  background-color: whitesmoke;
}
#rectanglHorizontal {
  width: 30px;
  height: 5px;
  background-color: whitesmoke;
  margin-left: 5px;
  border-radius: 10px;
}

.textAtLike {
  width: 40px;
  height: 27px;
  cursor: default;
  user-select: none;
}

.commentForLike{
  display:none;
  width: auto;
  height: auto;
  margin-top: 70px;
  background: whitesmoke;
  float: right;
}

#comment {
  margin: 0;
  padding: 2px;
}

#triangle:hover{
  background: saddlebrown;
}

#like:hover .commentForLike{
  display:block;
}

#like{
  width: auto;
  height: auto;
}

.CocteilBatton {
  width: auto;
  height: 100%;
  background-color: #f5f5f5;
  opacity: .7;
  border-radius: 15px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arealForTextBotton{
  width: auto;
  height: 100%;
  text-align: center;
}

.CocteilBatton:focus{
  outline: none;
}

.CocteilBatton:hover{
  opacity: 1;
}

input {
  height: 100%;
  border: 0;
  padding: 0;
  background-color: whitesmoke;
  border-radius: 15px;
  opacity: 0.7;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 120%;

}

input:focus {
  opacity: 1;
  outline: none;
}
