/* You can add global styles to this file, and also import other style files */
body{
  background: url("1.jpg") no-repeat;
  background-size: cover;
}



.nameCocteil{
  font-size: 250%;
  color: whitesmoke;
  font-family: Algerian;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0%;
  margin-top: 0%;
}

.textForCocteil{
  color: #000000;
  text-align: justify;
  font-size: 120%;
}

.textForIngredient{
  color: #000000;
  text-align: center;
  font-size: 120%;
}

.textForBatton{
  color: #000000;
  text-align: center;
  font-size: 120%;
  padding-top: 0%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2px;
}

.textForLike{
  color: #000;
  font-size: 120%;
  padding-top: 20%;
  z-index: 100;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#like{
  float: right;
  margin-right: 3%;
  margin-top: 3%;
}

#triangle {
  width: 40px;
  height: 40px;
  background: whitesmoke;
  display: block;
  border-radius: 7% 7% 50% 50%/60% 60% 40% 40%;
}
#rectanglVerticale {
  width: 4px;
  height: 8px;
  margin-left: 18px;
  background-color: whitesmoke;
}
#rectanglHorizontal {
  width: 30px;
  height: 5px;
  background-color: whitesmoke;
  margin-left: 5px;
  border-radius: 10px;
}

#textAtLike {
  width: 40px;
  height: 27px;
  cursor: default;
  user-select: none;
}

#triangle:hover{
  background: chocolate;
}

#triangle:hover .textForLike{
  font-family: Algerian;
  color: whitesmoke;
}

.CocteilBatton {
  width: auto;
  height: 100%;
  background-color: #f5f5f5;
  opacity: .7;
  border-radius: 16% 16% 16% 16%/60% 60% 60% 60%;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  float: left;
  margin-left: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.CocteilBatton:focus{
  outline: none;
}

#CocteilBatton:hover{
  opacity: 1;
}
